{{user.username}}
{{#if admin}}
{{!-- llena esto con la ruta a admin --}}
    {{!-- <a href="">Admin Page</a> --}}
{{/if}}
<h2>Favorite</h2>
<div id="user-Favorite">
    <img src="/images/like-1.svg"alt="like">
    {{#each user}}
    <a><img src="{{user.fav.image}}" alt="{{user.fav.title}} poster"></a>
    {{/each}}
</div>
<h2>Blacklist</h2>
<div id="user-Blacklist">
    <img src="/images/poop.svg"alt="like">
    {{#each user}}
    <a><img src="{{user.bck.image}}" alt="{{user.bck.title}} poster"></a>
    {{/each}}
</div>
<h2>Viewed</h2>
<div id="user-viewed">
    <img src="/images/view-1.svg"alt="like">
    {{#each user}}
    <a><img src="{{user.view.image}}" alt="{{user.view.title}} poster"></a>
    {{/each}}
</div>
