{{!-- {{#if admin}} --}}
{{!-- llena esto con la ruta a admin --}}
{{!-- <a href="">Admin Page</a> --}}
{{!-- {{/if}} --}}


<h2>Favorites</h2>
<div id="user-Favorite">
  <img src="/images/like-1.svg" alt="like">
  {{#each favList}}
  <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
  {{/each}}
</div>


<h2>Blacklist</h2>
<div id="user-Blacklist">
  <img src="/images/poop.svg" alt="like">
  {{#each blackList}}
  <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
  {{/each}}
</div>

<h2>Viewed</h2>
<div id="user-viewed">
  <img src="/images/view-1.svg" alt="like">
  {{#each viewList}}
  <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
  {{/each}}
</div>