{{!-- {{#if admin}} --}}
{{!-- llena esto con la ruta a admin --}}
{{!-- <a href="">Admin Page</a> --}}
{{!-- {{/if}} --}}
<div class="user">
  <a href="javascript:history.back()">
    <div class="button">
      Atras
    </div>
  </a>

  <div class="user-fav">
    <h2>Favoritos</h2>
    <div id="user-Favorite">
      <div class="user-svg">

        <img src="/images/like-drawed.svg" alt="like">
      </div>
      <div class="user-imgList">
        {{#each favList}}
        <div class="user-img">
          <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="user-black">
    <h2>Blacklist</h2>
    <div id="user-Blacklist">
      <div class="user-svg">
        <img src="/images/poop-drawed.svg" alt="like">
      </div>
      <div class="user-imgList">
        {{#each blackList}}
        <div class="user-img">
          <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="user-view">
    <h2>Pelilculas vistas</h2>
    <div id="user-viewed">
      <div class="user-svg">
        <img src="/images/view-drawed.svg" alt="like">
      </div>
      <div class="user-imgList">
        {{#each viewList}}
        <div class="user-img">
          <a href="/detail?netflix_id={{netflixid}}"><img src="{{image}}" alt="{{title}} poster"></a>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>