<h2>Edit Movie</h2>
<div id="movie-edit">
    <form action="/movie/edit" method="post">
        <label>netflixid:</label>
        <input type="text" name="netflixid" value="{{movie.netflixid}}">
        <label>Title:</label>
        <input type="text" name="title" value="{{movie.title}}">
        <label>Image:</label>
        <input type="text" name="image" value="{{movie.image}}">
        <label>Synopsis:</label>
        <input type="text" name="synopsis" value="{{movie.synopsis}}">
        <label>Rating:</label>
        <input type="text" name="rating" value="{{movie.rating}}">
        <label>Type:</label>
        <input type="text" name="type" value="{{movie.type}}">
        <label>Released:</label>
        <input type="text" name="released" value="{{movi.released}}">
        <label>Larg image:</label>
        <input type="text" name="largimage" value="{{movie.largimage}}">
        <label>unogsdate:</label>
        <input type="text" name="unogsdate" value="{{movie.unogsdate}}">
        <label>imdbid:</label>
        <input type="text" name="imdbid" value="{{movie.imdbid}}">
        <label>download:</label>
        <input type="text" name="download" value="{{movie.download}}">
        <label>imdbrating:</label>
        <input type="text" name="imdbrating" value="{{movie.imdbrating}}">
        <button type="submit">Edit</button>
    </form>
</div>