{{!-- <a href="/list?genre={{movie.genre}}">Atras</a> --}}
<a href="javascript:history.back()">Atras</a>

<div id="detail-img">
  <img src="{{movie.image}}" alt="{{movie.title}} poster">
</div>
<div id="trailer">
  <p>-------------------Buscar foto guapa porque no hay Trailer------------------------</p>
  {{!-- <img src="{{movie.}}" alt=""> --}}
</div>

<div id="detail-all">
  <h2>Titulo: </h2>
  <p>{{movie.title}}</p>
  <h3>Nota IMBD: </h3>
  <p>{{movie.imdbrating}}</p>
  <h4>Año lanzamiento: </h4>
  <p>{{movie.released}}</p>
  <h4>Duración: </h4>
  <p>{{movie.runtime}}</p>
  <h4>Sinopsis:</h4>
  <p>{{movie.synopsis}}</p>
  <h4>Genero:</h4>
  <p>{{movie.genre}}</p>
</div>

<div id="svg-opinion">
  <a id="fav-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/like.svg" alt="Favourite">
  </a>
  <a id="black-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/poop-1.svg" alt="Blacklist">
  </a>
  <a id="view-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/view-1.svg" alt="View">
  </a>
</div>

<script>
  const movieID = {{{ movie.netflixid }}}
</script>