<a href="/list?genre={{movie.genre}}">Atras</a>

<div id="detail-img">
  <img src="{{movie.image}}" alt="{{movie.title}} poster">
</div>
<div id="trailer">
  <p>no esxixte habra que cambiar</p>
</div>

<div id="detail-all">
  <h2>Title: </h2>
  <p>{{movie.title}}</p>
  <h3>IMDB Rating: </h3>
  <p>{{movie.imdbrating}}</p>
  <h4>Rating: </h4>
  <p>{{movie.rating}}</p>
  <h4>Relese Year: </h4>
  <p>{{movie.released}}</p>
  <h4>Duration: </h4>
  <p>{{movie.runtime}}</p>
  <h4>Sinopsis:</h4>
  <p>{{movie.synopsis}}</p>
</div>

<div id="svg-opinion">
  <a id="fav-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/like.svg" alt="Favourite">
  </a>
  <a id="black-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/poop-1.svg" alt="Blacklist">
  </a>
  <a id="view-button" href="/detail?netflix_id={{movie.netflixid}}">
    <img src="/images/view-1.svg" alt="View">
  </a>
</div>

<script>
  const movieID = {{{ movie.netflixid }}}
</script>